<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosPersonales.My.MySettings.datosDbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\datosDb.accdb" providerName="System.Data.OleDb"/>
        <add name="DatosPersonales.My.MySettings.ConnectionString" connectionString="Dsn=MS Access Database" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
